.Game {
  position: absolute;
  top: calc(50% - 175px);
  left: calc(50% - 140px);
}

.App {
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: flex-start;
}

.menus {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}